@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    background-color:beige;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Oswald', sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 48px;
    background-color: black;
    color: rgb(28, 221, 131);
    
}

nav ul li{
    padding: 0px 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
   
}
.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
   
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;

}
.songItem{
height: 42px;
display: flex;
background-color: rgb(202, 240, 248);

color: rgb(12, 12, 1);
margin: 12px 0;
justify-content: space-between;
align-items: center;
border-radius: 34px;
}
.songItem img{
    width: 65px;
    margin: 0 23px;
    border-radius: 120%;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songItemContainer{
   margin-top: 25px;
}
.songInfo{
    display: flex;
    position: absolute;
    left: 10vw;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
   
}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}